@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2a2731;
}

::-webkit-scrollbar-thumb {
    background: #9b9a9a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #faf8f8;
}

